@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  font-family: Special Elite;
  text-transform: uppercase;
}

    /* MAIN HEADER */
h1 {
  text-align:center;
}
h3 {
  text-align:center;
}

    /* IMAGES */

img.sectionLogo {
  width: 60px;
  height: 60px;
}

img.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* icons in https://www.flaticon.com/packs/genius-3 */

    /* SECTIONS */

h2 {
  text-align:center;
}

h4 {
  text-align:center;
}

#pessoas article {
  display:inline-block;
  width: 250px;
  padding: 5px 5px 10px 5px;
  margin: 15px 15px 0px 0px;
  text-align: center;
  border: 1px solid #0d0d0d;
  word-wrap: break-word;
  word-break: keep-all;
}

#pessoas article:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    /* TAGS */
span.tagHacker {
  background-color: #ff9999;
  padding: 2px;
  border: 1px solid #595959;
  font-size: 0.6em;
  font-weight:bold;
}
span.tagAuthor {
  background-color: #c6ecc6;
}




